<div class="container mt-5">
    <h2>Horários da Semana</h2>
  
    <div class="form-group">
      <label for="cursoSelect">Selecione um Curso:</label>
      <select class="form-control" id="cursoSelect" [(ngModel)]="cursoSelecionado" (change)="onCursoChange()">
        <option *ngFor="let curso of cursos" [ngValue]="curso">{{ curso.curso }} - {{ curso.semestre }}</option>
      </select>
    </div>
  
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">Período</th>
          <th scope="col">Segunda</th>
          <th scope="col">Terça</th>
          <th scope="col">Quarta</th>
          <th scope="col">Quinta</th>
          <th scope="col">Sexta</th>
          <th scope="col">Sábado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13:20 - 14:10</td>
          <td class="text-center" *ngIf="periodo[0]">{{ periodo[0].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td>14:10 - 15:00</td>
          <td class="text-center" *ngIf="periodo[1]">{{ periodo[1].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td>15:00 - 15:50</td>
          <td class="text-center" *ngIf="periodo[2]">{{ periodo[2].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td>15:50 - 16:40</td>
          <td class="text-center" *ngIf="periodo[3]">{{ periodo[3].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td>16:40 - 17:30</td>
          <td class="text-center" *ngIf="periodo[4]">{{ periodo[4].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td>17:30 - 18:20</td>
          <td class="text-center" *ngIf="periodo[5]">{{ periodo[5].materia }}</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
  