<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card register">
                <div class="card-body">
                    <h5 class="card-title text-center">Edição de Disciplina</h5>
                    <form [formGroup]="professorForm" (ngSubmit)="salvar()">
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input id="id" class="form-control" formControlName="id" readonly>
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="name">Nome</label>
                            <input id="name" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="emailI">Email Institucional</label>
                            <input id="emailI" class="form-control" formControlName="emailI">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="senha">Senha</label>
                            <input id="senha" class="form-control" formControlName="senha">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="emailP">Email Pessoal</label>
                            <input id="emailP" class="form-control" formControlName="emailP">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="tel">Telefone</label>
                            <input id="tel" class="form-control" formControlName="tel">
                        </div>
                        <div class="d-grid gap-2 mt-4 mb-3">
                            <button type="submit" class="btn btn-verde texto-branco">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>