<div class="container mt-4">
  <!-- Dropdown para selecionar turma -->
  <div class="btn-group mt-3">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Selecione a Turma
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="selectTurma('turma1')">Turma 1</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="selectTurma('turma2')">Turma 2</a>
      </li>
      <!-- Adicione mais turmas conforme necessário -->
    </ul>
  </div>

  <!-- Tabela da Grade de Horários -->
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Aula</th>
        <th *ngFor="let dia of diasSemana">{{ dia }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aula of [1, 2, 3, 4, 5, 6]">
        <td>{{ aula }}ª Aula</td>
        <td *ngFor="let dia of diasSemana">
          <div *ngIf="getAulas(dia)?.[aula - 1]; else emptySlot">
            <strong>{{ getAulas(dia)?.[aula - 1].materia }}</strong><br>
            <small>{{ getAulas(dia)?.[aula - 1].professor }}</small>
          </div>
          <ng-template #emptySlot>
            <div class="slot-empty">-</div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
